* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh !important;
  font-family: "Montserrat", sans-serif !important;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  font-weight: bolder;
  color: black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
a:hover {
  box-sizing: border-box;
  text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.7);
}

/* Home Section */
.detail-card {
  text-decoration: none !important;
  font-weight: bolder;
  color: black;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.detail-card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  text-decoration: none !important;
  text-shadow: none !important;
}

/* Detail Section */
.upper-content {
  height: 50vh !important;
  width: 100vw !important;
  background-image: url(/assets/dilan1990.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-card {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.detail-card p {
  font-weight: 400;
}

.detail-card h5 {
  font-weight: bolder;
}

.detail-card:hover {
  box-sizing: border-box;
  text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* Flickity */
/* .gallery {
  background: #eee;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.gallery-cell {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gallery-cell {
    width: 50%;
  }
}
*/

/* Login and Sign Up Section */
#left-side {
  background-image: url("/assets/alfons-morales-YLSwjSy7stw-unsplash.jpg");
  background-repeat: no-repeat;
}

.title-left {
  z-index: 100;
  color: white;
}

.login-btn {
  background-color: black !important;
  color: white !important;
}

.signup-btn {
  background-color: white !important;
  color: black !important;
  border: 2px solid #ccc !important;
}

footer {
  height: 100vh;
  margin-top: auto;
  padding: 25px;
}
